// Cores principais
$color-primary: #ff9800; // Laranja principal (botão, destaque)
$color-black: #111111;
$color-white: #fff;
$color-gray: #888;

// Fontes
$font-main: "Segoe UI", Arial, sans-serif;

// Espaçamentos
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;
$spacing-xxl: 4rem;

// Tamanhos de fonte
$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;
