// Cores principais
$color-primary: #ef4723;
$color-black: #111111;
$color-white: #fff;
$color-gray: #888;

$color-success: #008000;
$color-error: #ff0000;
$color-warning: #ff9800;

// Fontes
$font-main: "IBM Plex Sans", Arial, sans-serif;

// Espaçamentos
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;
$spacing-xxl: 4rem;

// Tamanhos de fonte
$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;

$border-radio: 80% 50% 50% 60%;
