@use "../_variables" as *;

.form__actions {
  margin-top: $spacing-md;
}

.form__field {
  width: 100%;
  font-size: small;
  padding: 0.5rem;
  border-radius: 6px;
  border: 0.5px solid $color-black;
  font-size: 1rem;
  transition: border-color 0.2s;
  outline: none;
  &--error {
    border-color: $color-error;
    box-shadow: 0 0 0 3px rgba(239, 71, 35, 0.3) !important;
  }
  &--success {
    border-color: $color-success;
    box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.3) !important;
  }
  &--default {
    border-color: $color-black;
  }
  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: $spacing-md;
}

.form__password-wrapper {
  position: relative;
}

.form__password-toggle {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

.form__radio-group {
  display: flex;
  gap: $spacing-md;
}

.form__radio-group input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0 0.5rem 0 0;
  font: inherit;
  width: 18px;
  height: 18px;
  border: 2px solid $color-black;
  border-radius: $border-radio;
  display: inline-grid;
  place-content: center;
  cursor: pointer;
  transition: border-color 0.2s;
}

.form__radio-group input[type="radio"]:checked {
  border-color: $color-success;
}

.form__radio-group input[type="radio"]::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: $border-radio;
  border: 2px solid $color-black;
  transform: scale(1);
  transition: transform 0.2s;
  display: block;
}

.form__radio-group input[type="radio"]:checked::before {
  border-color: $color-success;
}
