@use "../_variables" as *;

.registration-form {
  display: flex;
  justify-content: center;
  margin-top: $spacing-xxl;
  font-family: $font-main;
}

.registration-form__title {
  margin-bottom: $spacing-lg;
}
