@use "../_variables" as *;

.step-indicator {
  margin-bottom: $spacing-xs;
}

.step-indicator__highlight {
  color: $color-primary;
  font-weight: bold;
}

.step-indicator__title {
  margin-bottom: $spacing-lg;
}
